# ==========================================
# Unity generated folders
# ==========================================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.utmp/
*.log

# ==========================================
# Memory captures and recordings
# ==========================================
/[Mm]emoryCaptures/
/[Rr]ecordings/

# ==========================================
# Blender temporary files
# ==========================================
*.blend1
*.blend1.meta

# ==========================================
# Asset Store Tools (optional)
/[Aa]ssets/AssetStoreTools*

# ==========================================
# JetBrains Rider
# ==========================================
/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# ==========================================
# Visual Studio
# ==========================================
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# ==========================================
# Mono
# ==========================================
mono_crash.*

# ==========================================
# Crash reports
# ==========================================
sysinfo.txt
crashlytics-build.properties

# ==========================================
# Builds
# ==========================================
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# ==========================================
# TestRunner generated files
# ==========================================
InitTestScene*.unity*

# ==========================================
# Addressables
# ==========================================
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# ==========================================
# Visual Scripting auto-generated files
# ==========================================
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/A[a]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# ==========================================
# Auto-generated scenes by play mode tests
# ==========================================
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

